<!DOCTYPE html>
<!--suppress ALL -->
<html lang="fa">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>عقیل پاداش - دنیای دوست داشتنی یک برنامه نویس پایتون</title>
	<meta name="description" content="Cabe - Minimal and Personal Blog Template">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.png">

	<!-- STYLESHEETS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<style type="text/css">
		.aghil{
			direction: rtl;
			text-align: right;
		}
		.aghil-font{
			font-family: Vazir !important;
		}
	</style>
</head>

<!-- preloader -->
<div id="loader-wrapper">
	<div class="loader-img"><img src="static/images/logo-2.png" alt="preloader"></div>
	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>
</div>
<!-- preloader -->

<!-- search wrapper -->
<div class="section search-section">
	<a href="#" class="close-search"><img src="static/images/close.png" alt="close"></a>
	<div class="centered">
		<form action="#">
			<label>
				<input type="text" placeholder="Search here..">
			</label>
			<button>Search</button>
		</form>
	</div>
</div>

<section class="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-12 text-left">
				<a href="index.html" class="logo"><img src="static/images/logo-2.png" alt="logo"></a>
				<a href="#" class="menu-click"><span></span><span></span><span></span></a>
			</div>
			<div class="col-lg-8 col-md-12">
				<nav id="main-menu" class="text-center">
					<ul>
						<li><a href="index.html">صفحه اصلی</a></li>
						<li><a href="category.html">وبلاگ</a></li>
						<li><a href="about.html">درباره من</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-2 col-md-4 text-right">
				<a href="#" class="search-icon"><img src="static/images/icons8-search-50.png" alt="search-icon"></a>
			</div>
		</div>
	</div>
</section>
<!-- search wrapper -->

<!-- top header -->
<section class="top-header style-one pad-125 bg-pattern-2">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-md-6 offset-xl-1 text-left has-animation" data-delay="0">
				<img src="static/images/profile-round.png" alt="avatar" class="avatar-img">
			</div>
			<div class="col-xl-5 col-md-6 text-left">
				<h1 class="has-animation animate-in text-right aghil-font" data-delay="10"> سلام من&nbsp;</h1>
				<h1 class="has-animation animate-in text-right aghil-font" data-delay="10">عقیل پاداش هستم</h1>
				<p class="has-animation animate-in text-right aghil aghil-font" data-delay="20"> میخوام با شما سخن بگویم.<br> درباره
					<span class="txt-rotate text-right" data-period="2000" data-rotate="[ &quot;برنامه نویس.&quot;, &quot;تولید کننده محتوا.&quot;, &quot;هنرمند.&quot;, &quot;فشن مدل.&quot; ]"></span>
				</p>
				<ul class="social-icons light list-inline has-animation" data-delay="30">


				<li class="list-inline-item"><a href="#"><i class="icon-facebook"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-instagram"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-linkedin"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-tumblr"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-youtube"></i></a></li>
				<li class="list-inline-item"><a href="#"><i class="icon-google-plus"></i></a></li>
			</ul>
			</div>
		</div>
	</div>
</section>
<!-- top header -->
<!-- header section -->

<!-- header section -->

<div class="blog-post style-one pad-75">
	<div align="right">
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
                    {% for article in article_data %}
					<article class="has-animation animate-in" data-delay="0">
						<div class="entry-meta-content">
							<div class="entry-date">{{ article.create_at}}<span>nov</span></div>
							<h2 class="entry-title"><a href="#">{{ article.title }}</a></h2>
							<span class="entry-meta">توسط <a href="#">{{ article.author }}</a> در <a href="#">{{ article.category }}</a></span>
						</div>
						<div class="entry-media">
							<img src="{{ article.cover }}" alt="">
						</div>
						<div class="entry-content-bottom">
							<p class="entry-content">{{ article.description }}</p>
							<a href="#" class="entry-read-more"><span></span>بیشتر بخوانید</a>
							<ul class="social-share list-inline float-left">
                                <span class="entry-meta bold float-left">اشتراک گذاری</span>
								<li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							</ul>
						</div>
					</article>
                    {% endfor %}
				 </div>
			</div>
			<div class="row">
				<div class="d-flex justify-content-center col-sm-12">
					<div class="button-4">
						<div class="eff-4"></div>
						<a href="#"> Load More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


	<!-- footer wrapper -->
	<section class="footer-wrapper pad-50 bg-lightblue style-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 widget">
					<a href="index.html" class="logo"><img src="static/images/logo-3.png" alt="logo"></a>
				</div>
				<div class="col-lg-3 col-md-4 widget">
					<ul class="widget-link">
						<li><a href="#">بلاگ</a></li>
						<li><a href="#">درباره من</a></li>
						<li><a href="#">تماس با من</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 widget">
					<ul class="widget-link">
						<li><a href="#">پایتون</a></li>
						<li><a href="#">پایتون برای وب</a></li>
						<li><a href="#">پایتون برای تحلیل داده</a></li>
					</ul>
				</div>
				<div class="col-lg-3  col-md-12 widget">
					<span class="widget-title">Subscribe</span>
					<form action="#" class="subscribe-form mt-3">
						<label>
							<input type="text" placeholder="Your email address">
						</label>
						<button class="subscribe-bttn"><i class="fa fa-arrow-right"></i></button>
					</form>
				</div>
			</div>
			<div class="row pad-top-50">
				<div class="col-lg-3 col-md-4 widget">
					<ul class="social-share list-inline">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-heart"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-4 widget">
					<ul class="widget-link-2 list-inline">
						<li class="list-inline-item"><a href="#">صفحه اصلی</a></li>
						<li class="list-inline-item"><a href="#">خدمات</a></li>
						<li class="list-inline-item"><a href="#">سوالات متداول</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 widget text-right">
					<p>طراحی شده با <span class="glyphicon glyphicon-heart pulse1" style="color:red"></span></p>
				</div>
		</div>
    </section>
	<!-- footer-wrapper -->




	<!-- SCRIPTS -->
	<script src="static/js/jquery-1.12.3.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/plugin.js"></script>
	<script src="static/js/main.js"></script>

